.about-block {
  //background-color: pink;
  display: flex;
  //align-items: center;
  justify-content: space-evenly;
  margin-top: 150px;
  margin-bottom: 50px;
  .about-img {
    //background-color: orange;
    width: 300px;
    height: 494px;
    img {
      width: 300px;
      height: 494px;
      object-fit: fill;
    }
  }
  .about-text {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

    .about-title {
      //background-color: aqua;
      font-size: 32px;
      width: 390px;
      height: 43px;
      margin-top: -35px;
    }
    .about-subtitle {
      margin-top: 40px;
      //background-color: yellow;
      font-size: 26px;
      height: 35px;
      width: 324px;
    }
    .about-para {
      //background-color: red;
      font-size: 16px;
      height: 170px;
      text-align: left;
      margin-top: 60px;
    }
  }
}
